/* ========== Fonts ========== */
@font-face {
    font-family: "NeueMontreal-Light";
    src: url('../fonts/NeueMontreal/NeueMontreal_Light.otf');
}

@font-face {
    font-family: "NeueMontreal-Italic";
    src: url('../fonts/NeueMontreal/NeueMontreal_Bolditalic.otf');
}

/* ========== Global Styles ========== */

*{
    margin: 0;
    padding: 0;
}

:root {
    --color-text: #f1f1f1;
    --color-background: rgb(14 14 14);
    --color-highlighted: #a31f0e;         
    --color-border: #aaa;
    --font-primary: "NeueMontreal-Italic";
    --font-secondary: "NeueMontreal-Light";
    --font-size-primary: 0.85rem;
    --line-height-primary: 1.5;    
    --font-size-secondary: 0.75rem;
    --line-height-secondary: 1;
    --font-size-header: smaller;
    --font-size-statement: 3rem;    
}

body{
    background: var(--color-background);
    color: var(--color-text);
    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* ========== Global Styles: Components ========== */

.section-container {
    width: 95%; 
    margin: auto;   
}
.h-100 {
    height: 100vh;
}
.section-margin {
    margin: 10vh auto;
}
.section-row {
    width: 50%;
    height: 100%;
}
.section--col {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.section-header {
    margin: 0.5rem 0;
}
.s-header-secondary {
    margin: 2rem 0;
}
.secttion-info {
    margin: 0.5rem 0;
}

.container {
    display: flex;
    flex-wrap: wrap; 
}

/* ========== Global Styles: Text ========== */

h1, h2, h3, h4, h5, h6{
    font-family: var(--font-primary);    
}
p, li, a, input, select{
    font-family: var(--font-secondary);
    text-decoration: none;
    color: var(--color-text);
    font-weight: 900;
} 

h1.section-title {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.s-header-secondary h1.section-title {
    font-size: 2rem;
    text-align: center;
}

.text-stats {
    font-size: 1rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: left;
}

.message-error {
    display: flex;
    justify-content: center;
    width: 100%;
}

.message-error p {
    text-align: center;
}

/* ========== Scroll Bar ========== */
::-webkit-scrollbar
{
	width: 2px;
	background: none;
}
::-webkit-scrollbar-thumb
{
	background-color: var(--color-text);
	height:1px;	
}


/* #### HEADER #### */

header {    
    position: fixed;
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;   
    z-index: 100;top: 0;
    padding: 2rem 0;
    transition: all 2s;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
}

header h3{
    color: #c7c7c7;
    letter-spacing: 1px;
    font-weight: 100;
    font-size: 1rem;
    text-transform: uppercase;
}

header h3 a{
    color: #c7c7c7;
    text-decoration: none;
}


footer{
    height: 20vh;
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    border-top: .2px solid rgba(170, 170, 170, 0.301);
    margin: 20vh 0 0;
}

footer h6{
    width: 100%;
    text-align: center;
    color: var(--primary-color);
    font-family: "NeueMontreal-Light";
    letter-spacing: 1px;
    font-size: 1.5vw;
    font-weight: 100;
}

footer a{
    color: var(--primary-color);
    text-decoration: none;
}


@media(max-width:1200px){
    footer h6 {        
        font-size: 1.8vw;        
    }
}

@media(max-width:1000px){
    footer h6 {        
        font-size: 2vw;        
    }
}

@media(max-width:800px){
    header h3 {        
        letter-spacing: 2px;        
        font-size: 1.8vw;        
    }
    footer h6 {        
        font-size: 2.5vw;        
    }
}

@media(max-width:600px){
    header h3 {
        font-size: 2.5vw;        
    }
    footer h6 {        
        font-size: 3vw;        
    }
}
@media(max-width:400px){
    header h3 {
        font-size: 3vw;        
    }
    footer h6 {        
        font-size: 3.5vw;        
    }
}