main{
    height: 100vh;
    width: 100%;   
    margin: 0 0 10vw; 
}

main .main-background{
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100%;
    height: 100%;
    right: 0; 
    overflow: hidden; 
}

@keyframes scaleAnimation {
    to{ transform: scale(1.2);}
    from{ transform: scale(1);}    
}

.main-background .image{
    width: 100%;
    height: 100%;   
    background: url("/static/media/39-1111408645b71a01e873.jpeg");
    background-size: cover;
    /* transform: scale(1.2);     */
    filter: saturate(0.5);
    animation: scaleAnimation 30s alternate-reverse infinite linear;    
}

main .main-background::after{    
    content: "";
    background: linear-gradient(90deg,rgba(13, 13, 13, 1) 0%,transparent 90%);
    height: 100vh;
    top: 0;
    right: 0;
    width: 100%;
    position: absolute;
    z-index: 1;
}
main .main-background::before{    
    content: "";
    background: linear-gradient(0deg,rgba(13, 13, 13, 7) 0%,transparent 20%);
    height: 100vh;
    top: 0;
    right: 0;
    width: 100%;
    position: absolute;
    z-index: 1;
}

.main-body {
    height: 100%;
    display: flex;
    align-items: center;
    width: 95%;
    margin: auto;
    position: relative;
}

.main-body span{
    padding: 8rem 0 0 0;
}

.main-body  h1{
    font-size: 8vw;
    color: var(--primary-color);
    width: 60%;
    line-height: .8;
    font-family: "NeueMontreal-Italic";
    text-transform: uppercase;
    letter-spacing: 5px;
}

.main-body p{
    margin: 2rem 0;
    color: var(--primary-color);
    text-transform: uppercase;
    letter-spacing: 2px;
}


.wrapper--{
    display: none;
}


.player-title{
    text-transform: uppercase;    
    width: 95%;
    margin: 20vh auto 0;
}

.player-title h1{
    font-size: 1vw;
    font-family: "NeueMontreal-Light";
    letter-spacing: 2px;
    color: #adadad;
    border-bottom: 0.1px solid #c7c7c74f;
    padding: 0 0 1rem;
    text-align: end;
}


/* #### PLAYER SECTION #### */

.player-section{
    position: relative;
    width: 95%;   
    margin: 10vh auto 10vh;
}

.background-text{
    max-width: 100%;
    height: 99vh;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: -1;   
}

.background-text h1{
    font-size: 10vw;
    margin: 0;
    text-transform: uppercase;
    font-family: "NeueMontreal-Italic";
    white-space: nowrap;   
    letter-spacing: -5px;
    line-height: .8;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: #cedddd; 
}


.player-img{   
    overflow: hidden; 
    height: 100vh;   
    width: 40%;        
    clip-path: polygon(25% 0, 100% 0%, 75% 100%, 0 100%);    
    overflow: hidden;  
}
.player-img::after, .player-img::before{
    content: "";       
    height: 100vh;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    position: absolute;
}
.player-img::after{
    background: linear-gradient(0deg,rgb(13 13 13) 0%,transparent 90%);     
}

.player-img .image{
    width: 100%;
    height: 100%;
    transition: all 1.2s;  
    filter: saturate(0.2);
}
.player-img:hover .image{
    transform: scale(1.1);
    filter: saturate(0);
    transition: all 1.2s;      
}


.player-stats{
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.player-banner{
    position: absolute;
    top: 0%;
    width: 60%;
    right: 0rem;
    height: 100%;
    background: rgb(13,13,13);
    clip-path: polygon(15% 0, 100% 0%, 100% 100%, 0 100%);
    display: flex;
    align-items: center;
}

.main-title {
    text-align: end;
}
.main-title h1{
    font-size: 7vw;
    color: var(--primary-color);
    line-height: .8;
    font-family: "NeueMontreal-Italic";
    text-transform: uppercase;
    letter-spacing: 5px;
}

.main-stats {
    width: 80%;
    justify-content: end;
    display: flex;
    margin: 0 10rem;
}

.main-stats ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}

.main-stats ul li {
    color: var(--primary-color);
    letter-spacing: 1px;
    margin: 0 1rem;
    font-family: "NeueMontreal-Light";
    text-transform: uppercase;
}

.main-stats ul li::marker {
    color: #720303; 
  }

.info__ {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: end;
    width: 80%;
}

.info__ li::marker {
    color: #720303; 
  }

.info__ li{
    font-size: 1.4vw;
    color: var(--primary-color);
    letter-spacing: 1px;
    text-align: end;
    margin: 0 1rem;
    font-family: "NeueMontreal-Light";
    text-transform: uppercase;
}

.container .section-title h1{
    font-size: 4vw;
    width: 50%;
    color: #aaa;
    margin: 1rem auto 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: "NeueMontreal-Italic";
    text-align: center;
    margin: 10rem auto 1rem;
}

.container{
    text-align: center;    
}

.container .row{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.container .stat {
    flex: 1 0 30%;
    height: 50vh;
    display: table;
    transition: all 1s;
}

.container .stat:hover{
    background: rgb(29, 29, 31);
    transition: all 1s;
} 

.container .stat span{
    display: table-cell;
    vertical-align: middle;
}

.container .stat p{
    font-size: 5vw;
    margin: 0;
    text-transform: uppercase;    
    color: var(--primary-color); 
}

.container .stat p:nth-of-type(1){
    font-size: 7vw;
    margin: 0;
    text-transform: uppercase;
    font-family: "NeueMontreal-Italic";
    color: #720303;
}

.container .stat p:nth-of-type(2){
    font-size: x-large;
    width: 50%;
    color: #aaa;
    margin: 1rem auto 0;
    font-family: "NeueMontreal-Light";
    letter-spacing: 2px;
    text-transform: uppercase;
}


.about__ {
    text-align: center;
    font-size: 2vw;
    margin: 5rem 0;
}

.about__ a{
    text-decoration: none;
    color: var(--primary-color);
    font-family: "NeueMontreal-Light";
}

.about__ .line--{
    width: 0%;
    background: var(--primary-color);
    height: 1px;
    display: flex;
    margin: 2rem auto;
    transition: all .2s;
    border-radius: 20%;
}

.about__:hover .line--{
    width: 25%;
    transition: all .2s;
}



/* #### SECTION PLAYERS LIST #### */

section.players-list-section {
    width: 95%;
    margin: auto;
}

.list-title {
    margin: 5rem 0;
}

.list-title h2{
    font-size: 1.5vw;
    color: var(--primary-color);
    font-family: "NeueMontreal-Light";
    font-weight: 100;
    letter-spacing: 2px;
}

.players-list .list-- {
    display: flex;
    flex-wrap: wrap;
}

.list-- li {
    flex: 1 0 30%;
    list-style: none;
    padding: 5rem 0;  
    transition: all .2s; 
    text-align:center;
}

.list-- li:hover{
    background: rgb(22, 22, 24);
    transition: all .2s;
} 


.list-- li a {
    text-decoration: none;
    color: var(--primary-color);
    font-family: "NeueMontreal-Light";
    letter-spacing: 2px;
    font-size: 2vw;
    width: 50%;
    margin: auto;
    display: block;    
}

.list-- li .line--{
    width: 0%;
    background: var(--primary-color);
    height: 1px;
    display: flex;
    margin: 2rem auto;
    transition: all .4s;
    border-radius: 20%;
} 

.list-- li:hover .line--{
    width: 50%;
    transition: all .4s;
}

.list-- li i{
    font-size: 3vw;
} 



section.about-section {
    width: 95%;
    margin: 10vh auto;
}

.about-title h1 {
    font-size: 5vw;
    text-transform: uppercase;
    color: var(--primary-color);
    text-align: center;
    font-weight: 100;
    letter-spacing: 2px;
    font-family: "NeueMontreal-Italic";
    width: 80%;
    margin: auto;
}

.description {
    margin: 5rem 0;
}

.description p{
    font-size: 1.8vw;
    color: var(--primary-color);
    text-align: center;     
}

.description:nth-child(2)
.description:nth-child(3){    
    margin: 10rem 0;   
}
.description:nth-child(2) p,
.description:nth-child(3) p{
    font-size: 1.6vw;   
    text-align: justify;   
}



@media(max-width:1200px){
    .main-background .image{
        background-position: right;
    }
    .main-title h1 {
        font-size: 11vw;
    } 
    .main-title .main-body p {        
        font-size: 1.5vw;
    } 

    .background-text {        
        height: 80vh;        
    }
    .player-img {      
        height: 80vh;        
    }    
    
    .about__ a {
        font-size: 2.5vw;
    }
    
    .list-title h2 {
        font-size: 2vw;        
    }
    .list-- li a {        
        font-size: 2.5vw;       
    }

    .about-title h1 {
        font-size: 6vw;        
    }

    .about-title h1 {
        font-size: 6vw;
    }
    .description p {
        font-size: 1.8vw;        
        text-align: justify;
        letter-spacing: 2px;
    }
    .description:nth-child(2) p, .description:nth-child(3) p {
        font-size: 1.8vw;
        text-align: justify;
    }
}


@media(max-width:1000px){
    main .background{
        background-position: bottom;
    } 
    .main-title .main-body p {
        font-size: 1.2rem;
    } 

    .background-text {        
        display: none;
    }

    .player-img {
        width: 60%;
        transform: none;
        clip-path: none;
    }    
    .player-banner {
        clip-path: none;
        background: transparent;
    }
    .player-img::after {        
        height: 80vh;        
    }
    .info__ li {
        width: 80%;
        font-size: 1.6vw;
    }
    

    .container .col p:nth-of-type(1) {
        font-size: 8vw;
    }
    .container .col p:nth-of-type(2) {
        font-size: larger;
    }

    .list-title h2 {
        font-size: 2.5vw;
    }
    .list-- li a {
        font-size: 2.5vw;
        width: 100%;
    }

    .description p {
        font-size: 2vw;        
    }
    .description:nth-child(2) p, .description:nth-child(3) p {
        font-size: 2vw;
    }
}

@media(max-width:900px){
    .player-title h1{
        font-size: 2vw;
    }
    .container .stat {       
        height: 35vh;        
    }
}

@media(max-width:800px){
    .main-title h1 {
        font-size: 12vw;        
    }
    .player-stats {
        position: relative;
        display: block;
    }
    .background-text {
        display: none;
    }
    .player-img {
        height: 100vh;
        width: 100%;        
    }
    .player-img:hover .image{
        transform: scale(1);
        filter: saturate(0.2);
        transition: all 1.2s;      
    }
    .player-img::before{
        height: 100vh;
        background: linear-gradient(180deg,rgba(13, 13, 13, 7) 0%,transparent 20%);
        z-index: 1;
    }
    .player-img::after {
        height: 100vh;
        background: linear-gradient(0deg,rgba(13, 13, 13, 7) 0%,transparent 20%);
    }    
    .player-banner {
        text-align: end;
        width: 100%;
        padding: 0;
        position: relative;
        margin: 0 auto;
    }
    .info__ li p {
        font-size: 3vw;
        margin: 1rem 0;
    }
    .list-title h2 {
        font-size: 3.5vw;
        text-align: center;
    }
    .list-- li {
        flex: 1 0 50%;
    }
    .list-- li a {
        font-size: 4vw;       
    }


    .container .stat {
        flex: 1 0 50%;
    }

    .container .stat p:nth-of-type(1) {
        font-size: 10vw;
    }
    .container .stat p:nth-of-type(2) {
        font-size: large;
    }
    
    .about-title h1 {
        font-size: 7vw;
    }

    .about__ a {
        font-size: 3.5vw;
        letter-spacing: 2px;
    }

    .description p {
        font-size: 2.5vw;
        text-align: justify;
    }
    .description:nth-child(2) p, .description:nth-child(3) p {
        font-size: 2.5vw;
    }
}


@media(max-width:600px){
    .main-background .image{
        background-position: bottom;
    }
    .main-body{
        overflow: hidden;
    }
    .main-body  h1{
        font-size: 15vw;
    }
    .main-title h1 {
        font-size: 15vw;
    }

    .main-stats {
        width: 100%;
        justify-content: end;
        display: flex;
        margin: 0;
    }

    .container .stat {
        flex: 1 0 50%;        
    }
    .container .stat p:nth-of-type(1) {
        font-size: 15vw;
    }    

    .list-- li a {
        font-size: 4.5vw;
    }
    .description p {
        font-size: 3.5vw;        
    }
    .description:nth-child(2) p, .description:nth-child(3) p {
        font-size: 3.5vw;
    }
}

@media(max-width:400px){
    
    .main-body  h1 {
        font-size: 15vw;
    }
    .player-section {       
        margin: 20vh auto 10vh;
    }
    .player-banner {        
        margin: 0;
    }
    .player-title h1{
        font-size: 3vw;
    }
    
    .info__ li {
        width: 100%;
    }
    .info__ li p {
        font-size: 4.5vw;
    } 
       

    .container .section-title h1{
        font-size: 6vw;
        width: 100%;
    }
    .container .stat {        
        height: 20vh;
    }
    .container .stat p:nth-of-type(1){
        font-size: 15vw;
    }
    .container .stat p:nth-of-type(2){
        font-size: medium;
    }

    .about__ a {
        font-size: 4.5vw;       
    }

    .list-title h2 {
        font-size: 6vw;
        
    }
    .list-- li a {
        font-size: 5vw;
    }
    .list-- li i {
        font-size: 5vw;
    }

    .description p {
        font-size: 4.5vw;        
    }
    .about-title h1 {
        font-size: 9vw;
        width: 100%;
    }
    .description:nth-child(2) p, .description:nth-child(3) p {
        font-size: 4.5vw;
    }

}
