h6.text-stats {
    font-size: 1.3rem;
    letter-spacing: 2px;    
    padding: 0 0 0.5rem;
    margin: 0 0 1rem;
    text-transform: uppercase;
}

.about__ {
    text-align: center;
    font-size: 1.6rem;
    margin: 5rem 0;
}

.about__ .line-- {
    width: 0%;
    background: var(--color-text);
    height: 1px;
    display: flex;
    margin: 2rem auto;
    transition: all 1s;
    border-radius: 20%;
}
.about__ a:hover +  .line--{
    width: 25%;
    transition: all .5s;
}



li.player-li {
    padding: .8rem  0;
}  

li.player-li a {
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: left;
}

