/**** SECTION: COLS AND ROWS ****/
.section--col#col-4{    
    display: flex;
    align-items: center;    
}

section {
    align-items: center;
}

/**** SECTION: PICTURE ****/
img.section-image {
    max-width: 100%;
    height: auto;
}

/**** SECTION: INFO PLAYER ****/
.secttion-info li {
    margin: 0 1rem;
}
.secttion-info li::marker {
    color: #720303;
}
/* SECTION: FILTERS */
.filters {
    width: 100%;
    margin: 0;
    margin: 2rem 0;
}
.filters .filters-title {
    margin: 0rem 0 1rem;    
    padding: 0 0 1rem;
    border-bottom: 1px solid #adadad3f;
}
.filters-title p {
    color: var(--primary-color);
    letter-spacing: 2px;
    font-size: 1rem;
    text-transform: uppercase;
}
.filter-option {
    width: 33.33%;
}
.filters label {
    font-size: .8rem;
    color: #aaa;
    font-family: "NeueMontreal-Light";
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0 0 0.5rem;
    padding: 0;
    display: block;
    text-align: left;
}
.filters select {
    width: 95%;
    margin: auto;
    color: var(--color-text);
    background: var(--color-background);
    padding: 0.5rem;
    border: 1px solid rgba(170, 170, 170, 0.2);
}
.filter-button {
    width: 100%;
    margin: 1rem auto 0;
}
.filter-button input {
    cursor: pointer;
    width: 100%;
    border: 1px solid rgba(170, 170, 170, 0.2);
    padding: 0.5rem;    
    background: #3c3754;
    text-align: center;
    color: var(--color-text);    
    transition: all .2s;
}

.filter-button input:hover{
    background: #23202b;
    transition: all .2s;
}

/**** SECTION: GENERAL STATS ****/
section.general {
    margin: 2rem 0;
}
.general-stat {
    width: 33.33%;
    text-align: center;
}
.general-stat p:nth-of-type(1) {
    font-size: 4rem;
    font-family: "NeueMontreal-Italic";
    color: #720303;
}
.general p {
    text-align: center;
}  

/* #### NOT FOUND DIV #### */

.not_found-- {
    width: 95%;
    margin: auto;
}
.not_found-- p{
    color: #aaa;
    letter-spacing: 2px;
    font-size: 1.7vw;
    text-align: center;
    text-transform: uppercase;
}

.description-- li {
    list-style: none;
    padding: .2rem 0;
    border-bottom: 1px solid #c7c7c74f;
    padding-bottom: 0.3rem;
    font-size: 1rem;
}

.graph-- {
    width: 100%;
    height: 60vh;    
    transition: all 1s;
    margin: auto;
    position: relative;
}  

.graph-- canvas#goalsInvolvementsChart{
    margin: 0 auto 2rem ;
}

.graph-- p{
    text-align: center;
    font-size: .8rem;
}


/* #### GOALS INVOLVEMENTS #### */

.donut-text {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    right: 0;
    bottom: 0;
    display: table;
    width: 100%;
    height: 100%;
    z-index: -1;
}

 .donut-text .donut-table {
    display: table-cell;
    vertical-align: middle;    
}

.donut-text h1 {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    line-height: .9;
    color: #aaa;
    font-weight: 100;
    letter-spacing: 2px;
}

/* #### PERFORMANCE BY SEASONS #### */

section.perfom_seasons ul li{
    list-style: none; 
}

/* #### PERFORMANCE BY POSITION #### */

#perfom_position ul li {
    flex: 0 0 auto;
    width: 25%;
    font-size: 1rem;
    padding: 0;
    border: none;
    border-bottom: 1px solid #c7c7c74f;
    padding-bottom: 0.3rem;
    text-align: center;
}

#perfom_position ul li:nth-child(1) {
    text-align: start;
}

/* #### PERFORMANCE BY COMPETIIONS #### */

section.competitions {
    width: 95%;
    margin: auto;
}

section.competitions ul {
    list-style: none;
    border-bottom: 1px solid #c7c7c74f;
    padding-bottom: 0.3rem;
    width: 95%;
    margin: auto;
}

section.competitions ul li:nth-child(1) {
    text-align: start;
}

section.competitions ul li {
    text-transform: uppercase;
    flex: 0 0 auto;
    width: 20%;
    text-align: center;
    margin: .5rem 0;
}

.competitions p.text-stats {
    margin: 3rem 0 0;
}

@media(max-width:1000px){
    .section-margin {
        margin: 5vh auto;
    }
    .h-100{
        height: auto;
    }

    .section-row {
        width: 100% !important;
        height: auto;
        margin: 2rem 0;
    }
}

@media(max-width:800px){
    .general-stat p:nth-of-type(1) {
        font-size: 3.5rem;
    }
}
@media(max-width:600px){
    .s-header-secondary h1.section-title {
        font-size: 1.5rem;
    }
    .general-stat p:nth-of-type(1) {
        font-size: 3rem;
    }
    .text-stats {
        font-size: .9rem;
    }
}
