{% extends 'base.html' %}
{% block content %} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}"> 
<link rel="stylesheet" href="{{ url_for('static', filename='css/load_animation.css') }}"> 
<section class="section-container container" style="margin-top: 6vh;">
    <div class="section-row"style="width: 100%;">
        <div class="section--col">
            <div class="section-header s-header-secondary">
                <h1 class="section-title">Football Player Charts</h1>
            </div>
        </div>            
    </div>     
    <div class="section-row"style="width: 100%;">
        <div class="section--col">
            <div class="description--">
                <p class="text-stats" style="text-align: center">
                    Explore and discover players' impact on their teams throughout their careers.
                </p>
            </div>
        </div>
    </div>           
</section> 
<div class="wrapper--">
    <main class="section-container container section-margin">        
    </main>

    <section class="section-container container" id="players-container" >            
    </section> 
</div>
<section class="section-container container" style="margin: 5vh 0 0 0;" >
    <div class="section-row"style="width: 100%;">
        <div class="section--col">
            <div class="section-header s-header-secondary">
                <h1 class="section-title">What is Football Player Charts?</h1>
            </div>
        </div>
    </div>   
    <div class="section-row"style="width: 100%;">
        <div class="section--col">
            <div class="description--">
                <p class="text-stats">
                    Discover football like never before with Football Player Charts. Our website offers in-depth data and analyses of every player's performance, highlighting their impact on their teams. With detailed statistics and interactive charts, we provide tools to help you make informed decisions and see the game from a new angle. 
                </p>
            </div>
        </div>
    </div>      
</section>
<section class="section-container container section-margin">
    <div class="section-row" style="width: 50%;">
        <div class="section--col">
            <h6 class="text-stats">What kind of information you can find?</h6>
        </div>
        <div class="section--col">
            <p class="text-stats">
                Player statistics provide valuable insights into an athlete's performance. Key metrics like games played, goals, assists, and goals per game offer an overview of overall performance. Tracking goal involvement and assists per season reveals consistency and team impact. 
            </p>            
        </div>
    </div>   
    <div class="section-row" style="width: 50%;">
        <div class="section--col">
            <div class="description--">
                <h6 class="text-stats">What are the sources and how are they collected?</h6>
            </div>
        </div>
        <div class="section--col">
            <div class="description--">
                <p class="text-stats">The process involves extracting data from transfermarkt.com regularly to gather the latest data for updating records and ensuring system accuracy.</p>
            </div>
        </div>
    </div>      
</section>
<script type="module" src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}

