{% extends 'base.html' %}
{% block content %} 

<link rel="stylesheet" href="{{ url_for('static', filename='css/player_stats.css') }}"> 
<link rel="stylesheet" href="{{ url_for('static', filename='css/load_animation.css') }}"> 

<main class="section-container container section-margin"></main>

<div class="wrapper--">          
        <section class="section-container container section-margin" id="stats_byinvolvements">                                    
        </section>      

        <section class="section-container container section-margin" id="stats_byseason">                                       
        </section>

        <section class="section-container container section-margin" id="perfom_position">  
        </section>

        <section class="competitions section-margin">
        </section>
    </div>
</div>

<!-- Chart JS -->
<script>
    // Use the tojson filter to convert Python object to JSON
    const response = {{ context | tojson | safe }};
</script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="module" src="{{ url_for('static', filename='js/player_stats.js') }}"></script>

{% endblock %}