{% extends 'base.html' %}
{% block content %} 

<style>
    section{
        width: 95%;
        margin: auto;
        padding: 20vh 0 0;
    }    
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    li {
        flex: 2 0 33.3%;
        list-style: none;
        padding: 5rem 0;
        transition: all .2s;
        text-align: center;
    }
    li:hover{
        background: rgb(22, 22, 24);
        transition: all .2s;
    } 
    ul li a{
        text-decoration: none;
        color: var(--primary-color);
        font-family: "NeueMontreal-Light";
        letter-spacing: 2px;
        font-size: 2vw;      
        margin: auto;
        display: block;
    }
    .line-- {
        width: 0%;
        background: var(--primary-color);
        height: 1px;
        display: flex;
        margin: 2rem auto;
        transition: all .4s;
        border-radius: 20%;
    }
    li:hover .line--{
        width: 50%;
        transition: all .4s;
    }

    @media(max-width:1200px){
        ul li a {
            font-size: 2.5vw;
        }
    }
    @media(max-width:800px){
        li {
            flex: 2 0 50%;
        }
        ul li a {
            font-size: 3vw;
        }
    }
    @media(max-width:400px){
        ul li a {
            font-size: 3.5vw;
        }
    }
</style>

<section>    
    <div class="players--">
        <ul></ul>
    </div>
</section>

<script>
    // Use the tojson filter to convert Python object to JSON
    const response = {{ context | tojson | safe }};

    var listPlayers = document.querySelector(".players-- ul")   
   
    for (const player of response.list_players) {
        var performace = document.createElement("li");  
        performace.innerHTML =  
        `
            <a href="/player/${player.id}/${player.name}">${player.name}</a>  
            <span class="line--"></span>                   
        `
        listPlayers.appendChild(performace)        
    }
</script>

{% endblock %}